x=5

In [2]:
x=5

In [3]:
x

5

In [5]:
(2 * x) + 2

12

In [9]:
x+=2*x

In [10]:
x

15

If you don't know what the type of a variable is you can always use type()

In [11]:
type(x)

int

In [12]:
a = 30.1

In [13]:
type(a)

float

 one example of income and tax rate

In [14]:
my_income = 100
tax_rate = .1
tax = tax_rate * my_income
print(tax)

10.0